.cartitem {
    width: 100%;
    
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr 1fr 1fr;
    gap: 8px;
    background: #150f0f;
    border-radius: 2px;
    place-items: center;
    margin-bottom: 8px

    
}
.cartitem__image {
  box-shadow: 2px 2px #e0ac1c;
  
 
   
    
  
}
.cartitem__name {
    text-decoration: none;
    color:#ffffff;
}
.cartitem__price {
  color: #fff;
}

.cartitem__name:hover {
    color: #fdc500;
  
}

.cartitem__select {
    padding: 10px 17px;
}

.cartitem__deleteBtn {
    padding: 10px 17px;
    color: #000;
    background: #f4f4f4;
    border: 1px solid #171717;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.cartitem__deleteBtn:hover,
.caritem__deleteBtn:active,
.caritem__deleteBtn:focus {
  background: #171717;
  color: red;
  transform: scale(1.2);
}

@media (max-width: 700px) {
  .cartitem__name {
    font-size: 0.8rem;
  }

  .cartitem__select,
  .cartItem__deleteBtn {
    padding: 8px 13px;
  }

  .cartitem__price {
    font-size: 0.8rem;
    color: #fff;
  }
}

@media (max-width: 700px) {
  .cartitem__name {
    font-size: 0.6rem;
  }

  .cartitem__select,
  .cartitem__deleteBtn {
    padding: 5px 8px;
  }

  .cartitem__price {
    font-size: 0.6rem;
  }
}