.navbar {
    width: 100%;    
    height: 80px;   
    /* background-color:#150f0f;      */
    background: #e31837;
    display: flex;
    justify-content: space-between;    
    align-items: center;
    padding: 1.5rem 1rem;
    z-index: 50;
    position: fixed;
    top: 0;         
}

.navbar__logo h2 {
    color: #ffffff;
    font-weight: 700;
    font-size: 1.4rem;
    cursor: pointer;       
}

.navbar__links {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar__links li {
    padding-left: 1.5rem;
}


.navbar__links li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2rem;
}

.navbar__links li a span {
    display: flex;
    align-items: center;
    margin-left: 8px;
}

.cart__link {    
    padding: 10px;
    border-radius: 8px;
}

.cartlogo__badge {
    width: 30px;
    height: 30px;
    background: #474141;
    border-radius: 50%;
    padding-left: 9px;
    color: #ffffff;
    align-items: center;    
    display: flex;
}

.hamburger__menu {
    width: 30px;
    height: 30px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.hamburger__menu div {
    width: 100%;
    height: 3px;
    background: #ffffff;
}

.hamburger__menu:hover div {
    background: rgb(239, 243, 8);
}

@media (max-width: 960px){
    .navbar__links{
        display: none;
    }

    .hamburger__menu {
        display: flex;
    }
}
