.sidebar {
    width: 85%;
    height: 100vh;    
    position: fixed;
    top: 80px;
    left: 0;    
    background-image: url('https://images.unsplash.com/photo-1578474846511-04ba529f0b88?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80');      
    z-index: 200;    
    display: flex;
    justify-content:center;
    flex-direction: column;
    transform: translateX(-100%);
    transition: all 0.3s ease-out;
}
.sidebar.show {
    transform: translateX(0);
}

.sidebar__links {
    display: flex;
    flex-direction: column;
    list-style: none;
   
}
.sidebar__links li {
    display: flex;
    align-items: center;
}
.sidebar__links li a {
    font-size: 2rem;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
    padding: 1rem;
    color: #ffffff;
    background: rgba(17, 16, 16, 0.603);
}

.sidebar__links li a span{
    display: flex;
    margin-left: 8px;
    align-items: center;
}

.sidebar__cartbadge {
    width: 30px;
    height: 30px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000;
    background: #ffffff;
    border-radius: 50%;
    margin-left: 8px;

}
.sidebar__links li a:hover {
    background: #150f0f;
    color: #ffffff;
}

@media (min-width: 960px) {
    .sidebar {
        display: none;
    }
}