.homescreen {
    max-width: 1300px;
    margin: 1rem auto;
    background: #150f0f;
}
.homescreen__title {
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 1rem;
    margin-left: 8px;
}
.homescreen__products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1232px) {
    .homescreen__products {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 950px) {
    .homescreen__products {
        grid-template-columns: repeat(2, 1fr);
    }
}
 
@media (max-width: 630px) {
    .homescreen__products {
        grid-template-columns: 1fr;
    }
}



/* body {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)), url("../images/WINGS.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
} */
