.homescreen {
    max-width: 1300px;
    margin: 1rem auto;
    background: #150f0f;
    padding-top: 5rem;
}  
.homescreen__title {
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 1rem;   
    text-align: center;
}
.homescreen__products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


@media (max-width: 1232px) {
    .homescreen__products {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 950px) {
    .homescreen__products {
        grid-template-columns: repeat(2, 1fr);
    }
}
 
@media (max-width: 630px) {
    .homescreen__products {
        grid-template-columns: 1fr;
    }
}



 