* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #150f0f;
    margin: 0px;
}


img {
    width: 100%;
    object-fit: contain;
}