* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #150f0f;
}

/* img {
    width: 300px;
    
} */

img {
    width: 100%;
    object-fit: contain;
}